/* Reset de estilos padrão do corpo da página */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Estilos do cabeçalho */
header {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para a imagem no cabeçalho */
nav img {
  width: 150px;
}

/* Estilos para o formulário */
.formulario {
  width: 300px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario div {
  margin: 10px 0;
}

.formulario label {
  font-weight: bold;
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formulario select {
  appearance: none;
}

/* Estilos para o botão no formulário */
.botao {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #00b5cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: #017379;
}

/* Estilos para a grade de cards */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #f0f0f0;
  min-height: 100vh;
}

/* Estilos para os cards */
.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.card p {
  margin: 5px;
  font-size: 15px;
}

/* Estilos para links */
a {
  text-decoration: none;
  color: #fff;
}

/* Estilos para a paginação */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:hover {
  background-color: #2980b9;
}
